In [48]:
#dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [49]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\drrob\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [50]:
#Visit NASA Mars News Site
browser = Browser('chrome', **executable_path, headless=False)
scrape_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(scrape_url)

#Create BS Object
html = browser.html
news_soup = bs(html, "html.parser")

In [51]:
#Find top article and info about it. display in cells below
articles = news_soup.find_all('div', class_ = "list_text")
top_article = articles[0]
news_title = top_article.find(class_ = "content_title").text
news_graph = top_article.find(class_ = "article_teaser_body").text

In [52]:
news_title

"NASA's Curiosity Mars Rover Explores a Changing Landscape"

In [53]:
news_graph

'A new video rings in the rover’s ninth year on Mars, letting viewers tour Curiosity’s location on a Martian mountain.'

In [54]:
browser.quit()

In [75]:
#Visit JPL Mars Space Site For Images
browser = Browser('chrome', **executable_path, headless=False)
scrape_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(scrape_url)

#Create BS Object
html = browser.html
jpl_soup = bs(html, "html.parser")

In [76]:
#Find JPL Featured Image and displayed below
image = jpl_soup.find("div", class_ = "floating_text_area")
subset = image.find("a")
reference = subset["href"]
jpl_url = f"https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{reference}"

In [77]:
jpl_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg'

In [78]:
browser.quit()

In [83]:
#Mars Facts Pandas Scraping
mars_facts_df = pd.read_html("https://space-facts.com/mars/")[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers